@media screen and (max-width: 1024px) {
  .flex-header {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (max-width: 744px) {
  .flex-header {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (max-width: 375px) {
  .navigation {
    display: none;
  }
  .action {
    display: none;
  }
  .burger {
    display: block;
  }
}
@media screen and (min-width: 375px) and (max-width: 744px) {
  .navigation {
    display: none;
  }
  .action {
    display: none;
  }
  .burger {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .section-container {
    flex-direction: column;
    height: 862px;
    row-gap: 68px;
  }

  .texts {
    text-align: center;
  }
  h1,
  .p-1,
  .actiondiv {
    width: 630px;
  }
  .p-2 {
    width: 370px;
  }
}

@media screen and (max-width: 744px) {
  .section-container {
    row-gap: 24px;
    width: 100%;
  }
  .div-container {
    height: 760px;
  }
  h1 {
    width: 696px;
  }
  .actiondiv {
    flex-direction: column;
    align-items: center;
  }
  .p-2 {
    padding-top: 24px;
    width: 696px;

    text-align: center;
  }
}

@media screen and (min-width: 0px) and (max-width: 375px) {
  .section-container {
    row-gap: 24px;
  }
  .div-container {
    height: 695px;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    width: 327px;
  }
  .actiondiv {
    flex-direction: column;
    align-items: center;
  }
  .p-1 {
    width: 327px;
  }
  .p-2 {
    padding-top: 16px;
    width: 327px;
    text-align: center;
  }
}
@media screen and (min-width: 375px) and (max-width: 744px) {
  .section-container {
    row-gap: 24px;
  }
  .div-container {
    height: 695px;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    width: 327px;
  }
  .actiondiv {
    flex-direction: column;
    align-items: center;
  }
  .p-1 {
    width: 327px;
  }
  .p-2 {
    padding-top: 16px;
    width: 327px;
    text-align: center;
  }
}

@media screen and (max-width: 744px) {
  .section-container2 {
    height: 515px;
    flex-direction: column;
  }

  .box {
    width: 100%;
  }
  .box-1 {
    justify-content: center;
    margin-bottom: 10px;
  }
  .roud-p2 {
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .section-container3 {
    flex-direction: column;
    height: 917px;
    row-gap: 68px;
  }
  .texts-container {
    display: flex;
  }
  /* h3,
  .p-3 {
    width: 415.5px;
  } */
}

@media screen and (max-width: 744px) {
  .section-container3 {
    flex-direction: column;
    height: 862px;
    row-gap: 29px;
  }
  .texts-container {
    flex-direction: column;
    /* text-align: center; */
  }
}

@media screen and (max-width: 375px) {
  .section-container3 {
    flex-direction: column;
    row-gap: 14px;
  }

  .texts-container {
    flex-direction: column;
    /* text-align: center; */
  }
  h3 {
    font-size: 16px;
    font-weight: 900;
  }
  .p-3 {
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .footer-div {
    flex-direction: column;
  }
  .list-f {
    display: flex;
    margin-top: 48px;
  }
  .subscribe {
    display: none;
  }
}

@media screen and (max-width: 744px) {
  .footer-div {
    flex-direction: column;
  }
  .list-f {
    display: flex;
    margin-top: 48px;
  }
  .subscribe {
    display: none;
  }
}
